<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Document</title>
</head>

<body>
    <header></header>

    <main>
        <form action="/searches" method="POST">

            <input type="text" placeholder='Enter a title or author' name="title">
            <label for="Title">Title</label>
            <input type="radio" name="typeserach" value='Title'>
            <label for="Author">Author</label>
            <input type="radio" name="typeserach" value='Author'>
            <button>Search the Google Books API</button>

        </form>
    </main>

    <footer></footer>
</body>

</html>