<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>

    <main>
        <% result.forEach(elm=>{ %>
        <p><%=elm.title%></p>
        <p><%=elm.authors%></p>
        <p><%=elm.description%></p>
        <img src="<%=elm.imageLinks%>">


            <% }) %>
       
    </main>

    <footer></footer>

</html>