<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='layout.css'>
    <title>Document</title>
</head>

<body>
    <header></header>

    <main>
        <% result.forEach(elm=>{ %>
        <section class="book-container">
        <p class="book-title"><%=elm.title%></p>
        <p class="book-authors"><%=elm.authors%></p>
        <p class="book-des"><%=elm.description%></p>
        <img class="book-img" src="<%=elm.imageLinks%>">
    </section>
            <% }) %>
       
    </main>

    <footer></footer>

</html>